@charset "utf-8";
@import "reset.css";
@import "common.css";

#contact_section{padding-top:135px;}
#contact_section .contact_box{text-align: center; padding:100px 0;}
#contact_section .contact_box h2{padding:20px 0;}
.w160{width: 300px;}