@charset "utf-8";
@import "reset.css";
@import "common.css";



#section{padding-top: 135px;}
.slideOuter{position: relative;}

/* 슬라이드 화살표 */
.slideOuter .arr{font-size: 50px; color: rgba(255, 255, 255, 0.5); position: absolute; top:50%; transform: translateY(-50%);}
.slideOuter .arr:hover{color:rgba(255, 255, 255, 1);}
.slideOuter .prev{left: 100px;}
.slideOuter .next{right: 100px;}
/* 슬라이드 순서 버튼 */
.slideOuter .dotBox{position: absolute; bottom: 20px; width: 100%; text-align: center;}
.slideOuter .dotBox a{display: inline-block; width: 10px; height: 10px; background: rgba(255, 255, 255, 0.5); border-radius: 50%; margin: 0 5px;}
.slideOuter .dotBox a:active{background: rgba(255, 255, 255, 1);}
.slideOuter .dotBox .blind{width: 0; height: 0; position: absolute; text-indent: -99999px; font-size: 0px; overflow: hidden; line-height: 0;}
.slide{width: 100%; height: 590px; overflow: hidden;}
.slide .slideInner{background-size: cover; background-repeat: no-repeat; height: 590px; position: relative;}
.slide .slideInner:nth-child(1){background-image:url(../images/v_1.jpg);}
.slide .slideInner:nth-child(2){background-image:url(../images/v_2.jpg);}
.slide .slideInner:nth-child(3){background-image:url(../images/v_3.jpg);}
/* 슬라이드 배너 텍스트 */
.slide .text{text-align: center; position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);}
.slide .text h2{font-size: 80px; color:rgba(255,255,255,0.65);}
.slide .text h3{font-size: 17px; color:rgba(255,255,255,0.65); margin: 10px 0;}
.slide .text p{font-size: 11px; color:rgba(255,255,255,0.45);}

.company{position: relative; padding: 80px 0 90px 0;}
.company h2{text-align:center; margin-bottom:60px;}
.company h2 span{display: inline-block; height: 36px; line-height: 36px; vertical-align: top; font-weight: bold;}
/*실제 높이가 달라 줄이 맞지않는 인라인 성격의 요소들을 한 줄로 맞출 때 vertical-align 사용. 디폴트 값은 baseline.*/
.company h2 span:first-child{color: #a6a6a6; font-size: 36px; padding-right:15px;}
.company h2 span:last-child{color: #666; font-size: 17px; border-left:1px solid #ccc; padding-left:15px;}

.company ul li{float:left; width:25%; padding:0px 40px;}
.company ul li a{display:block; text-align: center;}
.company ul li div{border-radius:50%; overflow: hidden; transition:all 0.5s;}
.company ul li img{width:100%; border-radius:50%;}
.company ul li:hover img{transform:scale(1.2); transition:all 0.5s;}
.company ul li h3{font-size:17px; color:#666; margin:25px 0 13px; font-weight:bold; transition:all 0.5s;}
.company ul li p{font-size:13px; color:#666; padding:0 10px 40px; line-height:1.5; transition:all 0.5s;}
.company ul li span{font-size:11px; color:#333; display:inline-block; padding:9px 15px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; transition:all 0.5s;}
.company li:hover div, 
.company li:hover h3, 
.company li:hover p{opacity:0.5;}
.company li:hover span{padding:9px 30px;}


.business{background:url(../images/bgs-n1.jpg) no-repeat; background-size:cover; height:320px; background-attachment:fixed; background-position:center; position:relative;}
.business .overlay{background-color:rgba(0, 0, 0, 0.5); position:absolute; top:0; left:0; right:0; bottom:0;}
.business .row{position: relative; height:320px;}
.business .text{text-align:center; color:rgba(255, 255, 255, 0.9); position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
.business .text h2{font-size:43px; position:relative; padding-bottom:10px;}
.business .text h2:after{content:''; width:224px; height:1px; background:rgba(255, 255, 255, 0.9); position:absolute; top:100%; left:50%; transform:translateX(-50%);}
.business .text h3{font-size:17px; padding-top:15px;} /* text에 포지션을 주게되면 row의 높이가 사라짐 */

.cscenter{padding:70px 0;}
.cscenter>div{float:left;}
.cscenter .board{width:34.1506%; padding-right:40px; border-right:1px solid #d9d9d9;}
.cscenter .gobox{width:21.3660%;
     /* border-left:1px solid #d9d9d9; */
    }
.cscenter .cs{width:23.1173%;}
.cscenter .board .tabTitle{border-bottom:1px solid #d9d9d9; padding:0 10px;}
.cscenter .board .tabTitle li{display:inline-block; font-weight:bold;}
.cscenter .board .tabTitle li a{display:inline-block; font-size:14px; color:#999; padding:10px 15px;}
.cscenter .board .tabTitle li a:focus{color:#666; border:1px solid #d9d9d9; border-bottom:none;}
.cscenter .board .tabContent{font-size:13px; color:#666; margin-top:18px; height:167px; overflow:hidden;}
/* .cscenter .board .tabContent table{font-size:13px; color:#666;} */
.cscenter .board .tabContent td{padding:7px 5px;}
.cscenter .board .tabContent td:nth-child(1){white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.cscenter .board .tabContent td:nth-child(1) a:before{content:'ㆍ';}
.cscenter .board .tabContent td:nth-child(2){text-align:center;}
.cscenter .board .tabContent col:nth-child(1){width:auto;}
.cscenter .board .tabContent col:nth-child(2){width:25%;}


.cscenter .gobox{padding:0 15px;}
/* .cscenter>.gobox:nth-child(1) img{border-right:1px solid #d9d9d9;} */

